<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>



    <link href="../bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="../controller/shopping%20Cart.js"></script>
    <link href="testpage.css" rel="stylesheet">
    <script src="../controller/search.js"></script>
    <link rel="stylesheet" href="sharedStyle.css">
    <script src="../controller/book.js"></script>
</head>
<body>


<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">



    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <h5 class="text-light" id="welcome"></h5>
            </a>
        </a>

        <div class="navbar-form navbar-right" style="width: 40%;" role="search">
            <input type="text" class="form-control" placeholder="Search.." id="search" onkeyup="search()">

            <div class="result " id="result"></div>

        </div>





        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">


            <ul class="navbar-nav ml-auto">



                <!-- dropdown menu -->

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="1.jpg" class="nav-link nav navbar-nav rounded-circle pic" width="40" >
                    </a>

                    <!-- dropdown items -->
                    <ul class="dropdown-menu">
                        <li> <a class="dropdown-item" href="#"   data-toggle="modal" data-target="#HistoryModal" id="showHistoryModal" onclick="showHistory()">History</a></li>
                        <li><a href="#" class="dropdown-item" onclick="logout()"> Logout</a></li>

                    </ul>

                    <!-- end of dropdown items -->


                    <!-- the navigation items in the navbar     -->
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger " href="home.html">Home</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="books.html?category=new">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#" onclick="updateData()"  data-toggle="modal" data-target="#myModal" >Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger active" href="About us.html">About us</a>
                </li>

                <!-- end of the navigation items in the navbar     -->

            </ul>
        </div>
    </div>
</nav>

<!--/.Navbar-->
<div style="position:fixed;width: 100%;margin-top: 6%;z-index: 9999 " class="bg-dark text-light" id="path"></div>
<!-- Modal  of the shopping cart -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title"><STRONG>Sopping cart

                </STRONG></h4>
            </div>
            <div class="modal-body">


                <!----------TABLE FOR THE SHOPPING CART ----------->
                <div class="table-responsive">
                    <table class="table" id="table">

                    </table>
                </div>
                <!--------END OF TABLE FOR SHOPPING CART---------->
                <br><br>


            </div>
            <div class="modal-footer">
                <button  class="btn btn-primary col-md-3" onclick="buy()">Buy</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  of the shopping cart-->








<!-- the model trigger -->
<a class="nav-link js-scroll-trigger" href="#"   data-toggle="modal" data-target="#shoppingModal" id="showModal">Shopping Cart</a>
<!-- Modal  of the shopping cart -->
<form onsubmit="return false;">

    <div class="modal fade" id="shoppingModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><STRONG>Sopping cart
                    </STRONG></h4>
                </div>
                <div class="modal-body">
                    <h4><strong>User Info</strong></h4>
                    <!----------TABLE FOR THE SHOPPING CART ----------->
                    <div class="table-responsive">
                        <table class="table" id="shoppingCart">

                            <tr>
                                <th>Name</th>
                                <th></th>
                                <th><input type="text" required></th>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <th></th>
                                <th><input type="text" required></th>
                            </tr>
                            <tr>
                                <th><h4><strong>Payment</strong></h4></th>
                            </tr>

                            we are running a promotion all
                            : all is free with the promo code "FREE"

                        </table>
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th>Promom Code</th>
                                    <th></th>
                                    <th><input type="text" required></th>
                                </tr>

                            </table>

                        </div>

                    </div>
                    <!--------END OF TABLE FOR SHOPPING CART---------->

                </div>
                <div class="modal-footer">
                    <button  class="btn btn-primary col-md-3" type="submit" onclick="promotion()">Buy</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal  of the shopping cart-->
</form>
<!-- /Modal  of the shopping cart -->



<!-- the model trigger -->

<!-- Modal  for the history -->
<div class="modal fade" id="HistoryModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title"><STRONG>Sopping cart

                </STRONG></h4>
            </div>
            <div class="modal-body">


                <!----------TABLE FOR THE SHOPPING CART ----------->
                <div class="table-responsive">
                    <table class="table" id="history">

                    </table>
                </div>
                <!--------END OF TABLE FOR SHOPPING CART---------->
                <br><br>


            </div>
            <div class="modal-footer">
                <button  class="btn btn-primary col-md-3" onclick="buy()">Buy</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal  for the history-->


<br><br><br>
<hr>
<center>
<div class="col-8">
    <!-- about the page -->

    <!--paragraph 1 --->
<h3 class="text-dark">About the page</h3><br>
<p>this page is made so that user can buy books online
    without any struggling in finding the right book for your needs.
 you can find books in this page as fast as
        you can using the search to find books that you need.
        it is also possible to browse   the books pages if you don't know what exactly what you are looking for
    </p>

    <!--new line -->
    <br><br>
    <!-- line separator --->
    <hr>


    <!--paragraph 2 --->

    <h3 class="text-dark">Privacy</h3><br>
    <p>
        no one can know about what you are buying or about what what you seek for
    </p>

    <!--new line -->
    <br><br>
    <!-- line separator --->
    <hr>
    <!--paragraph 3 --->
    <h3 class="text-dark">Site goals</h3><br>
    <p>this site goal is to provide the most quantity of books for the readers and the sudents with the
        least effort the is possible and so that the people can learn in peace
    </p>


</div>
</center>










<!--Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>
<!--/.Footer-->
</body>




<!-- JQuery -->
<script type="text/javascript" src="../bootstrap/jquery-3.1.1.min.js"></script>

<!-- Bootstrap dropdown -->
<script type="text/javascript" src="../bootstrap/popper.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../bootstrap/bootstrap.min.js"></script>



</html>